<!-- <ul>
  <li *ngFor="let trabajador of trabajadores">
    {{trabajador.nombre}}({{trabajador.votos}})<img src="./assets/{{trabajador.foto}}">
    <button class="btn btn-primary" (click)="like(trabajador.id)">Sumar</button>
    <button class="btn btn-secondary" (click)="unlike(trabajador.id)">Restar</button>
    <button class="btn btn-danger" (click)="borrar(trabajador.id)">Borrar</button>
  </li>
</ul> -->

<h2>Componente Padre(trabajadores)</h2>
<div class="row row-cols-1 row-cols-md-6">
  <app-card-trabajador *ngFor="let trabajador of trabajadores"
  [trabajador]="trabajador"
  (eventoBorrar)="borrar($event)"
  (eventoLike)="like($event)"
  (eventoUnlike)="unlike($event)"></app-card-trabajador>
</div>

<div>
  <button class="btn btn-success" routerLink="/clientes">Ir a clientes</button>
</div>
<div>
  <button class="btn btn-danger" (click)="IrInicio()">Ir a incio</button>
</div>


